<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>ASCII Art Web</title>
  </head>
  <body>
    <header>
      <div></div>
      <h1>ASCII Art Web</h1>
      <div class="theme-modes">
        <!-- <p>Toggle Theme</p> -->
        <ion-icon class="sunny" name="sunny"></ion-icon>
        <ion-icon class="moon" name="moon"></ion-icon>
      </div>
    </header>
    <div class="container">
      <div class="upper">
        <form action="/ascii-art" method="post">
          <div class="left">
            <textarea
              name="input"
              id="inputArea"
              cols="30"
              rows="6"
              placeholder="Enter input"
              required
            >
{{.Input}}</textarea
            >
          </div>
          <div class="right">
            <div>
              <div class="banner-tag">
                <h4>Select banner:</h4>
              </div>
              <div class="select-tag">
                <select name="banner" id="bannerSelect">
                  <option value="standard">Standard</option>
                  <option value="shadow">Shadow</option>
                  <option value="thinkertoy">Thinkertoy</option>
                </select>
              </div>
            </div>
            <input type="submit" value="Submit" />
          </div>
        </form>
      </div>
      <div class="line"></div>
      <div class="lower">
        <!-- {{if .AsciiArt}}     -->
        <pre>{{.AsciiArt}}</pre>
        <!-- {{end}} -->
      </div>

      <div class="download">
        {{if .AsciiArt}}
        <a href="/download?ascii={{urlquery .AsciiArt}}">Download Art</a>
        {{end}}
      </div>
    </div>
    <footer>
      <a
        href="http://github.com/johneliud"
        target="_blank"
        rel="noopener noreferrer"
      >
        <ion-icon name="logo-github"></ion-icon>
      </a>
    </footer>
    <script src="/static/script.js"></script>
    <!-- Ion-icons link-->
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
